<section>
    <h1>Home Energy</h1>
<main>
        <section class="wrap-row">
            <article id="gridpowerinfo"> Grid: <br>
                <span id="gridData" class="datavalue"></span>
            </article>
            <article id="solarinfo"> Solar: <br>
                <span id="solarData" class="datavalue"></span>
            </article>
            <article id="usageinfo"> Usage: <br>
                <span id="usageData" class="datavalue"></span>
            </article>
            <article id="divertedinfo"> Diverted: <br>
                <span id="divertedData" class="datavalue"></span>
            </article>
            <article id="divertertinfo"> Diverter°C: <br>
                <span id="divTempData" class="datavalue"></span>
            </article>
            <article id="voltageinfo"> Voltage: <br>
                <span id="voltageData" class="datavalue"></span>
            </article>
        </section>
    </main>
   <div id="chart"></div>
</section>
