<section>
    <h1>Home Energy</h1>
<main>
        <section class="wrap-row">
            <article id="gridinfo"> Grid: <br>
                <span id="gridpwr">--W</span>
            </article>
            <article id="solarinfo"> Solar: <br>
                <span id="solarpwr">--W</span>
            </article>
            <article id="usageinfo"> Usage: <br>
                <span id="usagepwr">--W</span>
            </article>
            <article id="divertedinfo"> Diverted: <br>
                <span id="divertedpwr">--W</span>
            </article>
            <article id="divertertinfo"> Diverter°C: <br>
                <span id="divertert">--°C</span>
            </article>
            <article id="voltageinfo"> Voltage: <br>
                <span id="voltagev">--V</span>
            </article>
        </section>
    </main>
   <div id="chart"></div>
</section>
